<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.newu.branokod3">

    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">
        <activity
            android:name=".NAVIGATE"
            android:label="@string/title_activity_n_a_v_i_g_a_t_e"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".myvarsityitemshareparse" />
        <activity android:name=".mysokoitemshareparse" />
        <activity android:name=".Profileupdate" />
        <activity android:name=".Varsityitemofinterestparse" />
        <activity android:name=".Varsityitemofinterest" />
        <activity android:name=".helpdesk" />
        <activity android:name=".sokoitemofinterestparse" />
        <activity android:name=".sokoitemofinterest" />
        <activity android:name=".profileparsewishVarsity" />
        <activity android:name=".myvarsityitemshare">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="branokoduserauthentication.firebaseio.com"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity android:name=".potentialclientVarsity" />
        <activity android:name=".potentialcSokoparse" />
        <activity android:name=".potentialcVarsityparse" />
        <activity android:name=".wishlistparseVarsity" />
        <activity android:name=".wishlistVarsity" />
        <activity android:name=".ProfileVarsityview" />
        <activity android:name=".Varsityparse" />
        <activity android:name=".mysokoitemshare">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="branokoduserauthentication.firebaseio.com"
                    android:scheme="http" />
            </intent-filter>
        </activity>
        <activity android:name=".safaricompaymentmode" />
        <activity android:name=".airtelpaymentmode" />
        <activity android:name=".sharemyitems" />
        <activity android:name=".varsitypayment" />
        <activity android:name=".sokopayment" />
        <activity android:name=".Profilesokoview" />
        <activity android:name=".sokoitemviewparse" />
        <activity android:name=".profileparsewish" />
        <activity android:name=".wishlistparse" />
        <activity android:name=".MyItemsVarsity" />
        <activity android:name=".MyItemsSoko" />
        <activity android:name=".Finallyregistered" />
        <activity android:name=".sokoview" />
        <activity android:name=".potentialclient" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".TermsandConditions" />
        <activity android:name=".CompleteRegistration" />
        <activity android:name=".Profile">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="branokoduserauthentication.com"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HOME"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Login" />
        <activity android:name=".Versityadd" />
        <activity android:name=".Versityview" />
        <activity android:name=".wishlist" />
        <activity android:name=".sokoadd" />
        <activity android:name=".Forgotpassword" />
    </application>

</manifest>